@use "./reset";
@use "./fonts";
@use "./colors";

%centerd-content {
  margin: 0 percentage($number: 360/1920);
}
%button {
  background-color: colors.$black;
  border-radius: 18px;
  width: 22rem;
  height: 7.5rem;
  color: white;
}

:root {
  font-size: 10px;
}

.img {
  max-width: 100%;
}

.main-navigation {
  padding: 4.4rem percentage($number: 360/1920) 5.7rem;

  &__content {
    display: flex;
    gap: 39.9rem;
  }
  &__content--title {
    display: flex;
    align-items: center;
  }
  &__content--logo {
    font-family: fonts.$serif-fonts;
    font-weight: 400;
    font-size: 4rem;
    line-height: 5rem;
    // text-decoration: none;
  }

  &__content--links {
    display: flex;
    align-items: center;
    gap: 5rem;
    a {
      text-decoration: none;
      :hover {
        text-decoration: underline;
      }
      h5 {
        font-family: fonts.$jost-fonts;
      }
    }
  }
  &__content--vector {
    display: flex;
    gap: 3.1rem;
  }
}
.about_banner {
  width: 192rem;
  height: 35.6rem;
  background-image: url(../../styles/img-about/about-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20rem;
  &__img--hidden {
    display: none;
  }
  &__img--text {
    padding: 17.8rem percentage($number: 708/1920) 0;
  }
  &__img--about {
    padding: 4.1rem percentage($number: 151/503);
    width: 50.3rem;
    height: 17.8rem;
    background-color: colors.$white;
    border-radius: 37px 37px 0 0;
    p {
      text-align: center;
    }
  }
}
.about_introduce {
  padding-left: 51rem;
  // img {
  //   max-width: 100%;
  //   display: none;
  // }
  &__border {
    width: 87.5rem;
    height: 42.8rem;
    border: 25px solid colors.$white-gray;
    // background-color: colors.$white-gray;
    border-radius: 70px;
    // border-color: colors.$white-gray;
    position: relative;
    margin-bottom: 20rem;
    &--text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 6.7rem 6.2rem;
      img {
        padding-top: 0.5rem;
        margin-bottom: 2.7rem;
      }
      h2 {
        font-style: italic;
        text-align: center;
        margin-bottom: 3.4rem;
      }
      h3 {
        font-family: fonts.$jost-fonts;
        line-height: 3.75rem;
      }
    }
    &--top {
      position: absolute;
      border: 25px solid colors.$white;
      width: 50.3rem;
      background-color: colors.$white;
      z-index: 1;
      top: -3rem;
      left: 17.5rem;
    }
    &--bottom {
      position: absolute;
      border: 25px solid colors.$white;
      width: 50.3rem;
      background-color: colors.$white;
      z-index: 1;
      bottom: -3rem;
      left: 17.5rem;
    }
  }
}
.about_description {
  @extend %centerd-content;
  margin-bottom: 17.3rem;
  &__wrapper {
    &--concept {
      display: flex;
      gap: 9rem;
      margin-bottom: 15rem;
    }
    &--portfolio {
      display: flex;
      gap: 9rem;
    }
    &--text {
      padding: 2.15rem 0;
      h1 {
        margin-bottom: 2.3rem;
      }
      p {
        width: 45.2rem;
        margin-bottom: 4.1rem;
      }
      a {
        text-decoration: none;
        &:hover {
          background: colors.$gold;
        }
      }
    }
    &--buttom {
      @extend %button;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      &:hover {
        background: colors.$black-gray;
      }

      h6 {
        font-family: "Jost", sans-serif;
        color: #fff;
        letter-spacing: 0.2px;
        font-weight: 600;
        text-decoration: none;
        &:hover {
          color: colors.$gold;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .main-navigation {
    &__content {
      gap: 3rem;
      flex-direction: column;
      align-items: center;
    }
  }
  .about_banner {
    margin-bottom: 10rem;
    &__img--text {
      padding: 17.8rem 11.875% 0;
    }
    &__img--about {
      padding: 4.1rem 10.019881%;
      h1 {
        width: 19.9rem;
      }
      p {
        width: 19.9rem;
      }
    }
  }
  .about_introduce {
    padding-left: 3%;
  }
  .about_description {
    margin-bottom: 10rem;
    &__wrapper--concept {
      display: flex;
      gap: 3rem;
      margin-bottom: 8rem;
      flex-direction: column-reverse;
    }
    &__wrapper--portfolio {
      display: flex;
      gap: 3rem;
      flex-direction: column;
    }
  }
}
