@use "./reset";
@use "./fonts";
@use "./colors";

%centerd-content {
  margin: 0 percentage($number: 360/1920);
}
%button {
  background-color: colors.$black;
  border-radius: 18px;
  width: 22rem;
  height: 7.5rem;
  color: white;
}

:root {
  font-size: 10px;
}

.img {
  max-width: 100%;
}

.hidden {
  display: none;
}

.main-navigation {
  padding: 4.4rem percentage($number: 360/1920) 5.7rem;

  &__content {
    display: flex;
    gap: 39.9rem;
  }
  &__content--title {
    display: flex;
    align-items: center;
  }
  &__content--logo {
    font-family: fonts.$serif-fonts;
    font-weight: 400;
    font-size: 4rem;
    line-height: 5rem;
    // text-decoration: none;
  }

  &__content--links {
    display: flex;
    align-items: center;
    gap: 5rem;
    a {
      text-decoration: none;
      :hover {
        text-decoration: underline;
      }
      h5 {
        font-family: fonts.$jost-fonts;
      }
    }
  }
  &__content--vector {
    display: flex;
    gap: 3.1rem;
  }
}

.banner {
  width: 192rem;
  height: 104.2rem;
  background-image: url(../../styles/img/interno-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 33rem;
  padding-left: percentage($number: 360/1920);
  margin-bottom: 20rem;
  &__description--text {
    h1 {
      font-size: 6.5rem;
      line-height: 8.125rem;
      margin-bottom: 1.8rem;
      width: 43.4rem;
    }
    p {
      width: 43.4rem;
      margin-bottom: 2.1rem;
      letter-spacing: 1px;
    }
    a {
      text-decoration: none;
    }
  }
  &__buttom {
    @extend %button;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 23.4rem;
    &:hover {
      background: colors.$black-gray;
    }
    h6 {
      color: colors.$white;
      font-family: fonts.$jost-fonts;
      font-weight: 600;
    }
  }
}
// .centered {
//   margin: 0 percentage($number: 360/1920);
// }
.plans {
  padding: 0 percentage($number: 381/1920);
  margin-bottom: 20rem;
  &__option {
    display: flex;
    gap: 4.2rem;
  }
  &__option--meny {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    h3 {
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 5.2rem;
      text-align: center;
      width: 35.8rem;
      letter-spacing: 1px;
    }
  }
  &__option--meny1 {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;

    h6 {
      color: colors.$black-gray;
      font-family: fonts.$jost-fonts;
      font-weight: 600;
    }
  }
}

.art {
  @extend %centerd-content;
  &__main {
    display: flex;
    gap: 7.5rem;
    margin-bottom: 20rem;

    &--description {
      padding: 4.3rem 0;
      h1 {
        letter-spacing: 0.2px;
        width: 47.2rem;
        margin-bottom: 3.3rem;
      }
      &-text {
        margin-bottom: 4.5rem;
      }
    }
    &--call {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      margin-bottom: 4.7rem;
    }
    &--nr {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &--tel {
      color: colors.$black-gray;
      font-family: fonts.$jost-fonts;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 3.6rem;
      letter-spacing: 0.1px;
      margin-bottom: 0rem;
    }

    &--button {
      @extend %button;
      width: 23.8rem;
      height: 7.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      text-decoration: none;
      &:hover {
        background: colors.$black-gray;
        color: colors.$black;
      }
      h6 {
        font-family: fonts.$jost-fonts;
        color: colors.$white;
        letter-spacing: 0.2px;
        font-weight: 600;
        &:hover {
          color: colors.$gold;
        }
      }
    }
  }
}

.about {
  @extend %centerd-content;
  width: 119.9rem;
  height: 67.9rem;
  border-radius: 70px;
  background-color: colors.$white-gray;
  margin-bottom: 15rem;
  h1 {
    margin: 8.8rem 32.55rem 3.8rem;
    text-align: center;
    width: 54.7rem;
    letter-spacing: 0.2px;
  }
  &__autor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__autor--wrapper {
    display: flex;
    gap: 2rem;
    figure {
      width: 37rem;
      height: 33.9rem;
      border-radius: 35px;
      background-color: colors.$white;
      padding: 5.3rem 3.7rem;
    }
  }
  &__autor--name {
    display: flex;
    gap: 2.3rem;
    margin-bottom: 2.5rem;
  }
}

.icon {
  @extend %centerd-content;
  margin-bottom: 15.1rem;
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10.8rem;
    padding: 0 5.5rem;
  }
}

.project {
  @extend %centerd-content;
  &__description {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    padding-left: 23.2rem;
    // gap: 0.8rem;
    margin-bottom: 9.3rem;
  }
  h1 {
    text-align: center;
    letter-spacing: 0.2px;
  }
  p {
    text-align: center;
  }
  &__option {
    display: flex;
    gap: 10.4rem;
    margin-bottom: 5.6rem;
    &--second {
      display: flex;
      gap: 10.4rem;
      margin-bottom: 15rem;
    }
  }
  &__option--img {
    max-width: 100%;
    margin-bottom: 2.4rem;
  }
  &__option--wrapper {
    display: flex;
    align-items: center;
    // width: 52.5rem;
    gap: 26rem;
  }
  &__option--title {
    display: flex;
    flex-direction: column;
    width: 21.7rem;
    align-items: flex-start;
    h3 {
      margin-bottom: 0.4rem;
    }
  }
  &__option--next {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: colors.$white-gray;
  }
  &__option--vector {
    padding: 2.6rem 3rem;
  }
}

.experience {
  padding: 15.1rem percentage($number: 419/1920);
  background: colors.$white-gray;
  width: 192rem;
  margin-bottom: 20rem;
  &__meny {
    display: flex;
    gap: 7.6rem;
  }
  &__wrapper {
    display: flex;
    height: 15.5rem;
    align-items: center;

    &--first {
      margin-right: 5.4rem;
    }
    &--second {
      margin-right: 7.6rem;
    }
    &--third {
      margin-right: 8.4rem;
    }
  }

  &__main--numbers {
    font-family: fonts.$jost-fonts;
    color: colors.$gold;
    font-weight: 400;
    font-size: 8.5rem;
    line-height: 10.625rem;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 1.6rem;
  }
  &__main--text1 {
    width: 19.2rem;
  }
  &__main--text2 {
    width: 14.7rem;
  }
  &__main--text3 {
    width: 13rem;
  }
  &__main--text4 {
    width: 17.1rem;
  }
  &__main--border {
    border-right: 1px solid colors.$gold;
    height: 13rem;
  }
}

.news {
  @extend %centerd-content;
  &__title {
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5.2rem;
    width: 120rem;
    p {
      text-align: center;
      padding: 0 19.45rem;
    }
  }
  &__article {
    display: flex;
    gap: 2.7rem;
    margin-bottom: 20rem;
    &--wrapper {
      width: 38.2rem;
      height: 52.1rem;
      border: 1px solid colors.$white-dark;
      border-radius: 62px;

      a {
        display: block;
        padding: 2.1rem;
        border-radius: 62px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
          background: colors.$white-dark;
        }
      }
      img {
        margin-bottom: 2.1rem;
      }
      h3 {
        width: 30.5rem;
        letter-spacing: 1.5px;
        margin-bottom: 3rem;
      }
    }
    &--date {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &--next {
      background-color: colors.$white-gray;
      border-radius: 50%;
      width: 5.2rem;
      height: 5.2rem;
      padding: 1.93rem 2.29rem 1.93rem 2.37rem;
    }
  }
}

.contact {
  @extend %centerd-content;
  width: 120rem;
  height: 37.4rem;
  border-radius: 70px;
  background: colors.$black;
  margin-bottom: 13.5rem;
  &__us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem percentage($number: 315/1200);
    h1 {
      color: colors.$white;
      margin-bottom: 1.1rem;
    }
    p {
      color: colors.$white;
      letter-spacing: 0.1px;
      margin-bottom: 3.2rem;
    }
    &--btn {
      width: 23.72rem;
      height: 7.5rem;
      border-radius: 18px;
      background-color: colors.$gold;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.1rem;
    }
    &--button {
      text-decoration: none;
      h6 {
        font-family: fonts.$jost-fonts;
        color: colors.$white;
        letter-spacing: 0.2px;
      }
    }
  }
}

.interno {
  @extend %centerd-content;
  width: 120rem;
  &__main {
    display: flex;
    gap: 10.1rem;
    margin-bottom: 13.4rem;
    &--logo {
      img {
        margin-bottom: 1.8rem;
      }
      p {
        width: 39.3rem;
        margin-bottom: 3.1rem;
      }
    }
    &--icon {
      display: flex;
      gap: 5.4rem;
      align-items: center;
    }
    &--article {
      width: 12.5rem;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      h3 {
        margin-bottom: 0.9rem;
      }
      p {
        line-height: 6.6rem;
        margin-bottom: 0.9rem;
      }
    }
    &--contact {
      width: 25.8rem;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      h3 {
        margin-bottom: 2.6rem;
      }
      p {
        margin-bottom: 2.6rem;
      }
    }
    &--adresse {
      p {
        line-height: 6.6rem;
        margin-bottom: 0.9rem;
      }
    }
  }
  &__copyright {
    text-align: center;
    padding-bottom: 4.6rem;
  }
}

@media (max-width: 1000px) {
  .main-navigation {
    &__content {
      gap: 3rem;
      flex-direction: column;
      align-items: center;
    }
  }
  .banner {
    max-width: 100%;
    width: auto;
    height: auto;
    padding-top: 15rem;
    padding-left: 16%;
    margin-bottom: 7rem;
    padding-bottom: 15rem;
  }
  .plans {
    margin-bottom: 10rem;
    &__option {
      flex-direction: column;
    }
  }
  .art {
    &__main {
      flex-direction: column-reverse;
      gap: 3.5rem;
      margin-bottom: 10rem;
    }
  }
  .about {
    margin: 0;
    height: auto;
    width: auto;
    &__autor {
      margin-bottom: 5rem;
      h1 {
        width: 32.7rem;
      }
      &--wrapper {
        flex-direction: column;
        padding-left: 0.1rem;
      }
      &--fig {
        margin-bottom: 5rem;
      }
    }
  }
  .icon {
    margin-bottom: 10rem;
    &__wrapper {
      flex-direction: column;
      gap: 6rem;
    }
  }
  .project {
    padding-left: 0;
    &__description {
      padding-left: 0;
      margin-bottom: 5.6rem;
      h1 {
        text-align: start;
        margin-bottom: 4rem;
      }
      p {
        text-align: start;
      }
    }
    &__option {
      flex-direction: column;
      gap: 5.6rem;
      &--wrapper {
        align-items: flex-start;
      }
    }
    &__option--second {
      flex-direction: column;
      gap: 5.6rem;
      margin-bottom: 10rem;
    }
  }
  .experience {
    padding: 10rem 18.75%;
    margin-bottom: 8rem;
    p {
      text-align: start;
    }
    &__meny {
      gap: 6.6rem;
      flex-direction: column;
      padding-left: 20rem;
    }
    &__wrapper {
      display: block;
    }
    &__main--border {
      border-bottom: 1px solid #cda274;
      width: 13rem;
      border-right: none;
      height: 3rem;
    }
  }
  .news {
    &__title {
      width: auto;
      h1 {
        text-align: center;
        margin-bottom: 2rem;
      }
      p {
        padding: 0;
        text-align: start;
      }
    }
    &__article {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10rem;
      &--wrapper {
        height: auto;
        h3 {
          width: auto;
        }
      }
    }
  }
  .contact {
    width: auto;
    height: auto;
    margin-bottom: 10rem;
    &__us {
      align-items: flex-start;
    }
  }
  .interno {
    &__main {
      flex-direction: column;
      gap: 3rem;
      margin-bottom: 5rem;
    }
    &__copyright {
      text-align: start;
      padding-right: 50%;
    }
  }
}

@media (max-width: 420px) {
  .main-navigation {
    &__content {
      flex-direction: column;
      gap: 3rem;
      &--links {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  .banner {
    max-width: 100%;
    height: auto;
    padding-top: 19rem;
    padding-bottom: 1%;
    margin-bottom: 13rem;
    &__description--text {
      h1 {
        width: auto;
      }
      p {
        width: auto;
      }
    }
  }
  .plans {
    margin-bottom: 5rem;
    &__option {
      flex-direction: column;
      p {
        margin-bottom: 3rem;
      }
    }
  }
  .art {
    &__main {
      gap: 0.5rem;
      margin-bottom: 5rem;
      flex-direction: column-reverse;
      &--description {
        h1 {
          width: auto;
        }
      }
      &--img {
        img {
          max-width: 100%;
        }
      }
    }
  }
  .about {
    margin: 0;
    height: auto;
    width: 42.9rem;
    &__autor {
      margin-bottom: 5rem;
      h1 {
        width: 32.7rem;
      }
      &--wrapper {
        flex-direction: column;
        padding-left: 0.1rem;
      }
      &--fig {
        margin-bottom: 5rem;
      }
    }
  }
  .icon {
    margin-bottom: 7rem;
    &__wrapper {
      flex-direction: column;
      gap: 7rem;
      align-items: flex-start;
    }
  }
  .project {
    padding-left: 0;
    &__description {
      padding-left: 0;
      h1 {
        text-align: start;
        margin-bottom: 4rem;
      }
      p {
        text-align: start;
      }
    }
    &__option {
      flex-direction: column;
      &--wrapper {
        align-items: flex-start;
        gap: 0;
        flex-direction: column;
      }
    }
    &__option--second {
      flex-direction: column;
      margin-bottom: 10rem;
    }
  }
  .experience {
    padding: 18.75%;
    margin-bottom: 8rem;
    p {
      text-align: start;
    }
    &__meny {
      gap: 6.6rem;
      flex-direction: column;
    }
    &__wrapper {
      gap: 3rem;
      display: block;
    }
    &__main--border {
      border-bottom: 1px solid #cda274;
      width: 13rem;
      border-right: none;
      height: 3rem;
    }
  }
  .news {
    &__title {
      width: auto;
      h1 {
        text-align: center;
        margin-bottom: 2rem;
      }
      p {
        padding: 0;
        text-align: start;
      }
    }
    &__article {
      flex-direction: column;
      margin-bottom: 10rem;
      margin-left: -23.25%;
      &--wrapper {
        h3 {
          width: auto;
        }
      }
    }
    // &__article--design {
    //   img {
    //     max-width: 100%;
    //   }
    // }
  }
  .contact {
    max-width: 100%;
    height: auto;
    width: 33rem;
    margin: auto;
    margin-bottom: 10rem;
    &__us {
      padding: 8rem 20.25%;
    }
  }
  .interno {
    margin: 10%;
    &__main {
      flex-direction: column;
      gap: 3rem;
      margin-bottom: 5rem;
      &--logo {
        p {
          width: 34rem;
        }
      }
    }
    &__copyright {
      text-align: start;
      width: 34rem;
    }
  }
}
