@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@400;600;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

h1 {
  color: #292f36;
  font-size: 5rem;
  line-height: 6.25rem;
}

h2 {
  color: #292f36;
  font-size: 3.5rem;
  line-height: 4.375rem;
}

h3 {
  color: #292f36;
  font-size: 2.5rem;
  line-height: 3.125rem;
}

h4 {
  color: #292f36;
  font-size: 2.2rem;
  line-height: 2.75rem;
}

h5 {
  color: #292f36;
  font-size: 2rem;
  line-height: 2.5rem;
}

h6 {
  color: #292f36;
  font-size: 1.8rem;
  line-height: 2.25rem;
}

p {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.3rem;
  letter-spacing: 0.1px;
}

.about_interno, .about_creative, .about_poeple__wrapper, .about_description {
  margin: 0 18.75%;
}

.about_creative__text--buttom, .about_description__wrapper--buttom {
  background-color: #292f36;
  border-radius: 18px;
  width: 22rem;
  height: 7.5rem;
  color: white;
}

:root {
  font-size: 10px;
}

.img {
  max-width: 100%;
}

.main-navigation {
  padding: 4.4rem 18.75% 5.7rem;
}
.main-navigation__content {
  display: flex;
  gap: 39.9rem;
}
.main-navigation__content--title {
  display: flex;
  align-items: center;
}
.main-navigation__content--logo {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
}
.main-navigation__content--links {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.main-navigation__content--links a {
  text-decoration: none;
}
.main-navigation__content--links a :hover {
  text-decoration: underline;
}
.main-navigation__content--links a h5 {
  font-family: "Jost", sans-serif;
}
.main-navigation__content--vector {
  display: flex;
  gap: 3.1rem;
  align-items: center;
}

.about_banner {
  background-image: url(../../styles/img-about/about-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20rem;
}
.about_banner__img--hidden {
  display: none;
}
.about_banner__img--text {
  padding: 17.8rem 36.875% 0;
}
.about_banner__img--about {
  padding: 4.1rem 30.0198807157%;
  width: 50.3rem;
  height: 17.8rem;
  background-color: #fff;
  border-radius: 37px 37px 0 0;
}
.about_banner__img--about p {
  text-align: center;
}

.about_introduce {
  padding-left: 51rem;
}
.about_introduce__border {
  width: 87.5rem;
  height: 42.8rem;
  border: 25px solid #f4f0ec;
  border-radius: 70px;
  position: relative;
  margin-bottom: 20rem;
}
.about_introduce__border--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.7rem 6.2rem;
}
.about_introduce__border--text img {
  padding-top: 0.5rem;
  margin-bottom: 2.7rem;
}
.about_introduce__border--text h2 {
  font-style: italic;
  text-align: center;
  margin-bottom: 3.4rem;
}
.about_introduce__border--text h3 {
  font-family: "Jost", sans-serif;
  line-height: 3.75rem;
}
.about_introduce__border--top {
  position: absolute;
  border: 25px solid #fff;
  width: 50.3rem;
  background-color: #fff;
  z-index: 1;
  top: -3rem;
  left: 16.65rem;
}
.about_introduce__border--bottom {
  position: absolute;
  border: 25px solid #fff;
  width: 50.3rem;
  background-color: #fff;
  z-index: 1;
  bottom: -3rem;
  left: 16.65rem;
}

.about_description {
  margin-bottom: 17.3rem;
}
.about_description__wrapper--concept {
  display: flex;
  gap: 9rem;
  margin-bottom: 15rem;
}
.about_description__wrapper--portfolio {
  display: flex;
  gap: 9rem;
}
.about_description__wrapper--text {
  padding: 2.15rem 0;
}
.about_description__wrapper--text h1 {
  margin-bottom: 2.3rem;
}
.about_description__wrapper--text p {
  margin-bottom: 4.1rem;
}
.about_description__wrapper--text a {
  text-decoration: none;
}
.about_description__wrapper--text a:hover {
  background: #cda274;
}
.about_description__wrapper--buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.about_description__wrapper--buttom:hover {
  background: #4d5053;
}
.about_description__wrapper--buttom h6 {
  font-family: "Jost", sans-serif;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 600;
  text-decoration: none;
}
.about_description__wrapper--buttom h6:hover {
  color: #cda274;
}

.about_poeple {
  background: #f4f0ec;
  padding: 18.45rem 0;
  margin-bottom: 21.3rem;
}
.about_poeple h1 {
  text-align: center;
  width: 54.7rem;
  margin: 0 27.2166666667%;
  margin-bottom: 4rem;
}
.about_poeple__cardholder {
  display: flex;
  justify-content: space-between;
}
.about_poeple__card {
  background: #fff;
  position: relative;
  border-radius: 34px;
}
.about_poeple__card--container {
  width: 28.35rem;
  height: 43.3rem;
  border-radius: 34px;
  position: relative;
}
.about_poeple__card--description {
  padding: 7rem 2.8rem;
}
.about_poeple__card--description h3 {
  text-align: center;
  line-height: 3.75rem;
}
.about_poeple__card--description p {
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.about_poeple__card--design {
  margin-bottom: 6.5rem;
  text-align: center;
}
.about_poeple__card--icon {
  margin-bottom: 6.5rem;
  display: flex;
  gap: 3.5rem;
  align-items: center;
  justify-content: center;
}
.about_poeple__card--front, .about_poeple__card--back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition-timing-function: ease-out;
  transform-origin: center center;
}
.about_poeple__card--front {
  border-radius: 34px;
  transform: rotateY(0deg);
}
.about_poeple__card--front:hover {
  transform: rotateY(-180deg);
}
.about_poeple__card--front img {
  border-radius: 34px;
}
.about_poeple__card--back {
  transform: rotateY(180deg);
}
.about_poeple__card--back:hover {
  transform: rotateY(0deg);
}

.about_creative {
  margin-bottom: 13.5rem;
}
.about_creative__text {
  margin: 0 20.2rem;
}
.about_creative__text h1 {
  text-align: center;
  margin-bottom: 7.7rem;
}
.about_creative__text--name {
  display: flex;
  gap: 4rem;
  margin-bottom: 5.7rem;
}
.about_creative__text--inp {
  width: 37.8rem;
  height: 4.5rem;
  color: #4d5053;
  background: #fff;
  border: none;
  border-bottom: 1px solid #292f36;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.3rem;
}
.about_creative__text--area {
  width: 78.54rem;
  height: 17.5rem;
  color: #4d5053;
  background: #fff;
  border: none;
  border-bottom: 1px solid #292f36;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.3rem;
  margin-bottom: 7.7rem;
}
.about_creative__text--buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 28.8rem;
  gap: 1rem;
}
.about_creative__text--buttom:hover {
  background: #4d5053;
}
.about_creative__text--buttom h6 {
  font-family: "Jost", sans-serif;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 600;
  text-decoration: none;
}
.about_creative__text--buttom h6:hover {
  color: #cda274;
}

.about_interno {
  width: 120rem;
}
.about_interno__main {
  display: flex;
  gap: 10.1rem;
  margin-bottom: 13.4rem;
}
.about_interno__main--logo img {
  margin-bottom: 1.8rem;
}
.about_interno__main--logo p {
  width: 39.3rem;
  margin-bottom: 3.1rem;
}
.about_interno__main--icon {
  display: flex;
  gap: 5.4rem;
  align-items: center;
}
.about_interno__main--article {
  width: 12.5rem;
}
.about_interno__main--article a {
  text-decoration: none;
}
.about_interno__main--article a:hover {
  text-decoration: underline;
}
.about_interno__main--article h3 {
  margin-bottom: 0.9rem;
}
.about_interno__main--article p {
  line-height: 6.6rem;
  margin-bottom: 0.9rem;
}
.about_interno__main--contact {
  width: 25.8rem;
}
.about_interno__main--contact a {
  text-decoration: none;
}
.about_interno__main--contact a:hover {
  text-decoration: underline;
}
.about_interno__main--contact h3 {
  margin-bottom: 2.6rem;
}
.about_interno__main--contact p {
  margin-bottom: 2.6rem;
}
.about_interno__main--adresse p {
  line-height: 6.6rem;
  margin-bottom: 0.9rem;
}
.about_interno__copyright {
  text-align: center;
  padding-bottom: 4.6rem;
}

@media (max-width: 1440px) {
  .main-navigation__content {
    gap: 17rem;
  }
  .about_banner {
    width: auto;
    margin-bottom: 15rem;
  }
  .about_banner__img--about h1 {
    text-align: center;
  }
  .about_introduce {
    padding-left: 32.5rem;
  }
  .about_introduce__border {
    margin-bottom: 15rem;
  }
  .about_description {
    margin-bottom: 10rem;
  }
  .about_description__wrapper--concept {
    gap: 7rem;
    margin-bottom: 10rem;
    flex-direction: column-reverse;
  }
  .about_description__wrapper--text h1 {
    text-align: center;
  }
  .about_description__wrapper--text p {
    text-align: center;
    width: auto;
  }
  .about_description__wrapper--buttom {
    margin-left: 32rem;
  }
  .about_description__wrapper--portfolio {
    gap: 7rem;
    flex-direction: column;
  }
  .about_poeple {
    margin-bottom: 10rem;
    padding: 10rem 0;
  }
  .about_poeple__wrapper h1 {
    margin: 0 20.21667% 5rem;
  }
  .about_poeple__cardholder {
    gap: 6rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1000px) {
  .main-navigation__content {
    gap: 3rem;
    flex-direction: column;
    align-items: center;
  }
  .about_banner {
    margin-bottom: 10rem;
  }
  .about_banner__img--text {
    padding: 17.8rem 11.875% 0;
  }
  .about_banner__img--about {
    padding: 4.1rem 10.019881%;
  }
  .about_banner__img--about h1 {
    width: 19.9rem;
  }
  .about_banner__img--about p {
    width: 19.9rem;
  }
  .about_introduce {
    padding-left: 3%;
  }
  .about_description {
    margin-bottom: 10rem;
  }
  .about_description__wrapper--concept {
    display: flex;
    gap: 3rem;
    margin-bottom: 8rem;
    flex-direction: column-reverse;
  }
  .about_description__wrapper--portfolio {
    display: flex;
    gap: 3rem;
    flex-direction: column;
  }
}

/*# sourceMappingURL=about.css.map */
