@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@400;600;700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

h1 {
  color: #292f36;
  font-size: 5rem;
  line-height: 6.25rem;
}

h2 {
  color: #292f36;
  font-size: 3.5rem;
  line-height: 4.375rem;
}

h3 {
  color: #292f36;
  font-size: 2.5rem;
  line-height: 3.125rem;
}

h4 {
  color: #292f36;
  font-size: 2.2rem;
  line-height: 2.75rem;
}

h5 {
  color: #292f36;
  font-size: 2rem;
  line-height: 2.5rem;
}

h6 {
  color: #292f36;
  font-size: 1.8rem;
  line-height: 2.25rem;
}

p {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3.3rem;
  letter-spacing: 0.1px;
}

.art {
  margin: 0 18.75%;
}

.art__main--button, .banner__buttom {
  background-color: #292f36;
  border-radius: 18px;
  width: 22rem;
  height: 7.5rem;
  color: white;
}

:root {
  font-size: 10px;
}

.hidden {
  display: none;
}

.main-navigation {
  padding: 4.4rem 18.75% 5.7rem;
}
.main-navigation__content {
  display: flex;
  gap: 39.9rem;
}
.main-navigation__content--title {
  display: flex;
  align-items: center;
}
.main-navigation__content--logo {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
}
.main-navigation__content--links {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.main-navigation__content--links a {
  text-decoration: none;
}
.main-navigation__content--links a :hover {
  text-decoration: underline;
}
.main-navigation__content--links a h5 {
  font-family: "Jost", sans-serif;
}
.main-navigation__content--vector {
  display: flex;
  gap: 3.1rem;
}

.banner {
  width: 192rem;
  height: 104.2rem;
  background-image: url(../../styles/img/interno-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 33rem;
  padding-left: 18.75%;
  margin-bottom: 20rem;
}
.banner__description--text h1 {
  font-size: 6.5rem;
  line-height: 8.125rem;
  margin-bottom: 1.8rem;
  width: 43.4rem;
}
.banner__description--text p {
  width: 43.4rem;
  margin-bottom: 2.1rem;
  letter-spacing: 1px;
}
.banner__buttom {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 23.4rem;
}
.banner__buttom h6 {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

.plans {
  padding: 0 19.84375%;
  margin-bottom: 20rem;
}
.plans__option {
  display: flex;
  gap: 4.2rem;
}
.plans__option--meny {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plans__option--meny h3 {
  margin-bottom: 2rem;
}
.plans__option--meny p {
  margin-bottom: 5.2rem;
  text-align: center;
  width: 35.8rem;
  letter-spacing: 1px;
}
.plans__option--meny1 {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
}
.plans__option--meny1 h6 {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

.art__main {
  display: flex;
  gap: 7.5rem;
  margin-bottom: 20rem;
}
.art__main--description {
  padding: 4.3rem 0;
}
.art__main--description h1 {
  letter-spacing: 0.2px;
  width: 47.2rem;
  margin-bottom: 3.3rem;
}
.art__main--description-text {
  margin-bottom: 4.5rem;
}
.art__main--call {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 4.7rem;
}
.art__main--nr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.art__main--tel {
  color: #4d5053;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: 0.1px;
  margin-bottom: 0rem;
}
.art__main--button {
  width: 23.8rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.art__main--button h6 {
  font-family: "Jost", sans-serif;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 600;
}

/*# sourceMappingURL=index.css.map */
